input {
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid black;
    margin-left: 10px;
}

p {
    margin: 0px;
    cursor: default;
}

.d-flex {
    display: flex;
}

.m-auto {
    margin: auto;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.w-100 {
    width: 100%;
}

.directionColumn {
    flex-direction: column;
}